
/* ========== Summary Cards styles ============== */
.summaryCard {
    min-width: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 3px;
    padding: 5px 10px !important;
    text-align: center !important;
}

.default {
    border: solid 1px #D5DDE5;
    background-color: #FBFCFD;
}

.primary {
    border: solid 1px #29A0BA;
    background-color: #EEFBFF;
}

.success {
    border: solid 1px #4CAF50;
    background-color: #F4FBF4;
}

.error {
    border: solid 1px #DEA9A7;
    background-color: #FFECE7;
}


.warning {
    border: solid 1px #E6C89B;
    background-color: #FFF4E7;
}

.summaryCard h5 {
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    margin: 0px !important;
    margin-top: 5px !important;
}

.summaryCard span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px !important;
}