.modalContainer {
    padding: 10px !important;
}

.modalContainer.large {
    min-width: 1000px !important;
}

.modalContainer.medium {
    padding: 0 !important;
    min-width: 600px !important;
}

.modalContainer.small {
    padding: 0 !important;
    max-width: 400px !important;
}


.closeModalButton button {
    top: 0;
    right: 0;
    position: absolute;
    border: 8px !important;
    background-color: transparent;
}

.closeModalButton button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.modalContainer h1 {
    font-size: 20px;
    margin: 0px 0px 12px;
    font-weight: bold !important;
    line-height: 24px !important;
    color: rgb(46, 52, 56);
}

.modalButtons .btnLoading {
    opacity: 0.5 !important;
}

@media screen and (max-width: 650px) and (min-width: 352px) {}

@media screen and (max-width: 620px) and (min-width: 436px) {
    .modalButtons {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }
}

@media screen and (max-width: 435px) {
    .modalContainer {
        min-width: 95vw !important;
    }

    .modalButtonsStrip {
        flex-direction: column !important;
        display: flex !important;
        justify-content: start !important;
        align-self: flex-start !important;
    }

    .modalButtonsStrip>div {
        margin-left: 0 !important;
        justify-content: start !important;
    }

    .modalButtons {
        margin: 5px !important;
        width: 200px !important;
        font-size: 12px !important;
        height: 32px !important;
        padding: 5px 8px !important;
    }
}

@media screen and (max-width: 352px) {}