.rowActionsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.rowActionsIcon svg {
  width: 22px !important;
  height: 22px !important;
}

.disabled {
  cursor: not-allowed !important;
}

@media screen and (max-width: 950px) and (min-width: 600px) {
  .rowActionsIcon svg {
    width: 19px !important;
    height: 19px !important;
  }
}

@media screen and (max-width: 600px) {
  .rowActionsIcon svg {
    width: 17px !important;
    height: 17px !important;
  }
}